---
import AboutLayout from '../layouts/AboutLayout.astro';
---
<AboutLayout title="About Us">
  <div class="page-container">
    <div class="content-wrapper">
      <img src="/images/people/chef.jpg" alt="Featured Chef" id="chef" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Necessitatibus maxime iste libero eos laudantium illo voluptate
        corrupti architecto quae tenetur atque quod nam iusto officia cum,
        distinctio repellendus eligendi dolorem ea voluptates? Temporibus
        accusamus animi asperiores, tenetur, odio possimus, autem ullam ut
        consequuntur praesentium atque sed harum porro officia laboriosam
        veniam quas. Culpa pariatur libero et mollitia a fugit praesentium at?
        Fugiat blanditiis reprehenderit ex praesentium. Repudiandae, officia
        debitis quia magni quaerat, cupiditate iure voluptatibus incidunt
        libero veniam voluptate impedit fugit obcaecati repellat amet dolorum
        consequuntur enim error ratione aliquam. Sit repellat aut asperiores
        dolor suscipit doloribus corrupti molestiae repellendus quaerat
        dolores, magni distinctio vitae sunt exercitationem tenetur culpa
        adipisci officiis! Provident illo omnis tempora molestiae labore.
        Dolore architecto suscipit iure consectetur non obcaecati commodi nemo
        fugit quos saepe fugiat, officiis distinctio repellat molestiae nihil
        quae est eos debitis numquam alias quo tempore omnis voluptatum?
        Harum, quam quaerat tempore reiciendis, autem voluptas reprehenderit
        aperiam quibusdam expedita possimus ex suscipit! Reiciendis nobis
        alias autem laborum praesentium laudantium voluptate necessitatibus
        hic eum in cupiditate quas, voluptates suscipit ut sint ad, explicabo
        ratione sit cumque quia sapiente accusantium veniam. Consectetur omnis
        deserunt facilis, eligendi vel aspernatur iure vitae esse repellendus
        nesciunt! Ipsa, quibusdam.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime illo
        quidem animi sunt. Facere dolore tenetur atque autem veniam aliquid
        aliquam pariatur ipsam, vero repudiandae quidem voluptatibus deserunt
        suscipit corporis doloribus. Minus unde deserunt sit vel, non ab
        dolores! Atque nobis quaerat, accusantium voluptate earum molestiae
        saepe repellat eveniet, aut expedita quidem ipsum impedit quam nam
        voluptatibus iure magnam consequatur odit nemo quo et eius. Animi
        harum consequatur rem suscipit labore nemo neque, ratione architecto
        libero voluptas adipisci, tempora, impedit at consequuntur possimus
        nulla eius consectetur expedita temporibus deleniti. Deserunt
        quibusdam eveniet amet quis provident totam. Minima laudantium quidem
        unde rerum inventore odit harum architecto ab qui praesentium hic,
        nesciunt laborum pariatur nostrum, facere omnis ipsa sit recusandae
        error labore! Accusamus esse voluptates totam necessitatibus
        aspernatur odio error debitis similique repellendus, asperiores fugit
        quibusdam quod. Optio nisi nobis accusantium reiciendis voluptates ea
        tempore voluptas quam, ipsam porro molestiae iste eos inventore ab
        dolorum ipsa earum pariatur quos velit veritatis eum voluptatem
        expedita exercitationem? Repellendus ipsum vel facilis excepturi eos,
        corrupti quia, fugiat porro ea nemo beatae consectetur placeat
        accusamus consequuntur odio eaque sunt fugit voluptatibus nesciunt. In
        aperiam aut accusantium molestiae blanditiis esse illum iste id
        facere. Cum ut tempora exercitationem fuga reprehenderit libero
        repellat repudiandae non labore numquam vero, porro, id tenetur
        dolorem aut doloremque praesentium officiis. Voluptatibus nulla
        veritatis molestias earum laboriosam libero? Ab tempore illum eos
        perspiciatis mollitia eligendi porro optio non facere amet. Asperiores
        alias iste, tempore molestiae a eligendi, consequuntur, repudiandae
        perferendis laboriosam nam numquam ad tenetur impedit sequi
        dignissimos natus iure veniam consectetur at. Suscipit, vel
        aspernatur! Autem, soluta expedita. Minima ex doloremque suscipit vel
        deserunt expedita, dolor fugit sunt aspernatur eveniet neque delectus,
        rem temporibus aut. Cupiditate harum laudantium id magni facilis
        corrupti praesentium veniam ad molestiae dolores a quidem expedita
        temporibus nisi nesciunt aperiam, quasi mollitia quos similique
        dignissimos ea saepe officia? Nihil asperiores harum nemo, libero
        eveniet optio consequatur accusamus facere sed perspiciatis soluta
        quidem incidunt ipsa, minima tempore, ut corrupti ipsam iusto
        voluptatibus sunt. Natus deserunt magnam placeat, obcaecati commodi
        temporibus mollitia, labore voluptatum dolorum quisquam voluptate
        assumenda exercitationem laudantium.
      </p>
    </div>
  </div>
  <div class="spacer60"></div>
  <div class="squares-wrapper">
    <div class="squares">
      <div class="square">
        <div class="img-wrapper">
          <img src="/images/squares/fries-sq-1.jpg" alt="Fries" />
        </div>
        <div class="square-text-wrapper">
          <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            nemo impedit asperiores sint nihil quam voluptate unde non officia
            eaque voluptatem sit, at deserunt sunt blanditiis! Perspiciatis
            reiciendis, perferendis nisi animi aperiam quaerat iure corrupti
            vero minus id quia esse odit, saepe maxime exercitationem quam
            laborum fuga. Debitis, magni velit!
          </p>
        </div>
      </div>
      <div class="square">
        <div class="square-text-wrapper">
          <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            nemo impedit asperiores sint nihil quam voluptate unde non officia
            eaque voluptatem sit, at deserunt sunt blanditiis! Perspiciatis
            reiciendis, perferendis nisi animi aperiam quaerat iure corrupti
            vero minus id quia esse odit, saepe maxime exercitationem quam
            laborum fuga. Debitis, magni velit!
          </p>
        </div>
        <div class="img-wrapper">
          <img src="/images/squares/fries-sq-2.jpg" alt="Fries" />
        </div>
      </div>
    </div>
  </div>
</AboutLayout>