---
import AboutLayout from '../layouts/AboutLayout.astro';
---
<AboutLayout title="Contact">
  <div class="page-container">
    <div class="contact-grid-wrapper">
      <div class="company-metadata-sidebar-wrapper">
        <div class="logo">
          <img
            src="/images/logos/decamp-fantastic-fries-logo-dark.png"
            alt="Logo"
          />
        </div>
        <div class="company-details-wrapper">
          <i class="fas fa-map-marker-alt"></i>
          <div>123 Any Street <br />Scottsdale, AZ, 85251</div>
        </div>
        <div class="company-details-wrapper">
          <i class="fas fa-phone-volume"></i>
          <div>555 555 5555</div>
        </div>
        <div class="company-details-wrapper">
          <i class="fas fa-clock"></i>
          <div>10 AM - MIDNIGHT</div>
        </div>
      </div>
      <div class="form">
        <div class="form-group">
          <input type="text" id="fullName" placeholder="Your name" />
          <label for="fullName">Your Name</label>
        </div>
        <div class="form-group">
          <input type="email" id="email" placeholder="Your email" />
          <label for="email">Your email</label>
        </div>
        <div class="form-group">
          <textarea
            name="message"
            id="message"
            placeholder="Message"
          ></textarea>
          <label for="email">Message</label>
        </div>
        <div class="spacer10"></div>
        <div class="centered-btn-wrapper">
          <button type="submit" class="btn">Send</button>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer60"></div>
</AboutLayout>