---
import AboutLayout from '../layouts/AboutLayout.astro';
---
<AboutLayout title="Menu">
  <div class="squares-wrapper">
    <div class="squares">
      <div class="square">
        <div class="img-wrapper">
          <img src="/images/squares/fries-sq-1.jpg" alt="Fries" />
        </div>
        <div class="square-text-wrapper">
          <a href="#spicy" name="spicy" class="anchor-link">
            <h1>Spicy</h1>
          </a>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>
              Temporibus quidem perspiciatis maxime optio, exercitationem ad
              aliquid?
            </li>
            <li>
              Excepturi tempore laborum, fugit dignissimos corrupti deleniti
              incidunt!
            </li>
            <li>In ea, eveniet dicta quos earum facere natus.</li>
          </ul>
        </div>
      </div>
      <div class="square">
        <div class="square-text-wrapper">
          <a href="#medium" name="medium" class="anchor-link">
            <h1>Medium</h1>
          </a>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>
              Temporibus quidem perspiciatis maxime optio, exercitationem ad
              aliquid?
            </li>
            <li>
              Excepturi tempore laborum, fugit dignissimos corrupti deleniti
              incidunt!
            </li>
            <li>In ea, eveniet dicta quos earum facere natus.</li>
          </ul>
        </div>
        <div class="img-wrapper">
          <img src="/images/squares/fries-sq-2.jpg" alt="Fries" />
        </div>
      </div>
      <div class="square">
        <div class="img-wrapper">
          <img src="/images/squares/fries-sq-1.jpg" alt="Fries" />
        </div>
        <div class="square-text-wrapper">
          <a href="#mild" name="mild" class="anchor-link">
            <h1>Mild</h1>
          </a>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>
              Temporibus quidem perspiciatis maxime optio, exercitationem ad
              aliquid?
            </li>
            <li>
              Excepturi tempore laborum, fugit dignissimos corrupti deleniti
              incidunt!
            </li>
            <li>In ea, eveniet dicta quos earum facere natus.</li>
          </ul>
        </div>
      </div>
      <div class="square">
        <div class="square-text-wrapper">
          <a href="#kids" name="kids" class="anchor-link">
            <h1>Kids</h1>
          </a>
          <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
            <li>
              Temporibus quidem perspiciatis maxime optio, exercitationem ad
              aliquid?
            </li>
            <li>
              Excepturi tempore laborum, fugit dignissimos corrupti deleniti
              incidunt!
            </li>
            <li>In ea, eveniet dicta quos earum facere natus.</li>
          </ol>
        </div>
        <div class="img-wrapper">
          <img src="/images/squares/fries-sq-2.jpg" alt="Fries" />
        </div>
      </div>
    </div>
  </div>
</AboutLayout>