---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/0f3793b933.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/media-queries.css" />
  </head>
  <body>
    <div class="navigation-wrapper">
      <div class="left-column">
        <div class="icon">
          <i class="fa-solid fa-phone-volume"></i>
        </div>

        <div class="contact-hours-wrapper">
          <div class="phone">555-555-5555</div>
          <div class="hours">10 AM - MIDNIGHT</div>
        </div>
      </div>

      <!-- Link wrapper -->
      <div class="center-column">
        <div class="banner-image">
          <img
            src="/images/logos/decamp-fantastic-fries-logo-white.png"
            alt="Logo"
          />
        </div>
        <div class="links-wrapper">
          <div class="nav-link">
            <a href="/">Home</a>
          </div>

          <div class="nav-link">
            <a href="/about">About</a>
          </div>

          <div class="nav-link">
            <a href="/menu">Menu</a>
          </div>

          <div class="nav-link">
            <a href="/contact">Contact</a>
          </div>
        </div>
      </div>

      <div class="right-column">
        <div class="address-wrapper">
          <a href="/contact">
            123 Any Street <br />
            Scottsdale, AZ, 85251</a
          >
        </div>
        <div class="contact-icon">
          <a href="/contact"> <i class="fas fa-map-marker-alt"></i></a>
        </div>
      </div>
    </div>

    <slot />

    <div class="footer">
      <div class="logo-footer">
        <img
          src="/images/logos/decamp-fantastic-fries-logo-white.png"
          alt="Logo"
        />
      </div>
      <div class="footer-phone-hours">
        <span class="phone"> 555 555 5555 </span>
        <span class="hours"> 10 am - midnight </span>
      </div>
      <div class="links-wrapper">
        <div class="nav-link">
          <a href="/">Home</a>
        </div>

        <div class="nav-link">
          <a href="/about">About</a>
        </div>

        <div class="nav-link">
          <a href="/menu">Menu</a>
        </div>

        <div class="nav-link">
          <a href="/contact">Contact</a>
        </div>
      </div>
      <div class="social-media-icons-wrapper">
        <a href="#">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </div>
      <div class="copyright-wrapper">
        &copy; 2018 DevCamp &#124; All rights reserved
      </div>
    </div>
  </body>
</html>